$primary-color: #FE61B6;
$surface-color: #fff;
$text-color: #666;
$text-color2: #666;
$curve: 40;
$activecolor: #887DF3;
$shadowactivecolor: #887DF355;
.icon-size-lg{
    font-size: 2rem;
}

.c-text{
    color: $text-color;
}

.header-table{

    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    .title-table{
        margin-bottom: 10px;
        font-weight: 600;
    }

}

.bt-primary-sm{
    all: unset;
    background-color: $activecolor;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 0.8rem;
    transition: all 300ms;
    box-shadow: none;
    cursor: pointer;

    &:hover{
        color: white;
        box-shadow: $shadowactivecolor 0px 7px 29px 0px;
    }
}

.bt-primary{
    all: unset;
    background-color: $activecolor;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: all 300ms;
    box-shadow: none;
    cursor: pointer;

    &:hover{
        color: white;
        box-shadow: $shadowactivecolor 0px 7px 29px 0px;
    }
}


.table-container {
    border-radius: 5px;
    padding: 24px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.01) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
    margin-bottom: 50px;
  }


.items-tab{
    display: flex;

    .card-tab{
        padding: 16px;
        box-shadow: rgba(50, 50, 93, 0.01) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
        background-color: white;
        border-radius: 10px;
        width: 200px;
        margin-right: 16px;
        cursor: pointer;
        transition: all 300ms;

        &.active{
            background-color: $activecolor;
            color: white;
            box-shadow: $shadowactivecolor 0px 7px 29px 0px;
        }

        .number-card{
            margin-bottom: 0;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}


// PAGINATION

.pagination > li > a
{
    background-color: white;
    color: $activecolor;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: $activecolor !Important;
    border: solid 1px $activecolor !Important;
    box-shadow: $shadowactivecolor 0px 7px 29px 0px;
}

.pagination > .active > a:hover
{
    background-color: $activecolor !Important;
    border: solid 1px $activecolor;
}



// DATE
.input-daterange input {
    text-align: left !important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: $activecolor !important;
    box-shadow: $shadowactivecolor 0px 7px 29px 0px !important;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom,$activecolor,$activecolor) !important;
    background-image: -ms-linear-gradient(to bottom,$activecolor,$activecolor) !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from($activecolor),to($activecolor)) !important;
    background-image: -webkit-linear-gradient(to bottom,$activecolor,$activecolor) !important;
    background-image: -o-linear-gradient(to bottom,$activecolor,$activecolor) !important;
    background-image: linear-gradient(to bottom,$activecolor,$activecolor) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$activecolor', endColorstr='#0044cc', GradientType=0);
    border-color: $activecolor $activecolor #002a80;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}