/*
Error: Invalid CSS after "...ivecolorlight: ": expected expression (e.g. 1px, bold), was "#9e958311;"
        on line 17 of myStyle.scss

12: $sbaikcolorlight: #63c5da;
13: $burukcolorlight: #e3242b;
14: $sangatburukcolorlight: #e3242b;
15: $shadowactivecolor: #34506e;
16: // $shadowactivecolor: #887df355;
17: $shadowactivecolorlight: #9e958311;
18: $shadowactivecolorlight2: #fcae1e11;
19: $shadowactivecolorlight3: #fcae1e55;
20: // $shadowactivecolorlight: #887df311;
21: // 77AB53
22: $shadowsuccessecolor: #0ebb4855;

Backtrace:
myStyle.scss:17
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/script/lexer.rb:231:in `expected!'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/script/parser.rb:723:in `assert_expr'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/script/parser.rb:68:in `parse'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:1134:in `sass_script'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:642:in `variable'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:391:in `run'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/sass-3.5.1/bin/sass:13:in `<top (required)>'
C:/RailsInstaller/Ruby2.3.3/bin/sass:22:in `load'
C:/RailsInstaller/Ruby2.3.3/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ivecolorlight: \": expected expression (e.g. 1px, bold), was \"#9e958311;\"\A         on line 17 of myStyle.scss\A \A 12: $sbaikcolorlight: #63c5da;\A 13: $burukcolorlight: #e3242b;\A 14: $sangatburukcolorlight: #e3242b;\A 15: $shadowactivecolor: #34506e;\A 16: // $shadowactivecolor: #887df355;\A 17: $shadowactivecolorlight: #9e958311;\A 18: $shadowactivecolorlight2: #fcae1e11;\A 19: $shadowactivecolorlight3: #fcae1e55;\A 20: // $shadowactivecolorlight: #887df311;\A 21: // 77AB53\A 22: $shadowsuccessecolor: #0ebb4855;"; }
